<form method="post" action="{{ path('admin_user_send_reset_password', {'id': user.id}) }}" onsubmit="return confirm('Envoyer un mail de réinitialisation de mot de passe à {{ user.email }} ?');" class='d-inline'>
    <input type="hidden" name="_token" value="{{ csrf_token('send-reset-password' ~ user.id) }}">
    <button class="grey-btn px-3">Changer le MDP par mail</button>
</form>
